@import "./libs/webfonts";
@import "./libs/vars";
@import "./libs/funcs";
@import "./libs/base";

.topGradient {
	position: absolute;
	z-index: -1;
	top: 0;
	width: 100%;
	height: 310px;

	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #d4d4d4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #000000 0%,#d4d4d4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #000000 0%,#d4d4d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */

	opacity: .2;
}

.mainMenu {
	background: url('../images/background-menu.png') repeat-x;
	padding: 0;
	text-align: center;
}

.header__mainTitle {
	margin-top: 35px;
	margin-bottom: 10px;

	color: #404040;
	font-size: em(32px);
	font-weight: 300;
	text-align: center;
	text-shadow: 0 1px rgba(#FFF, .4);
}

.header__mainTitle--strong {
	font-weight: 400;
}

.header__features {
	margin-top: 0;
	display: flex;
	justify-content: space-between;
}

.header__item--highlight {
	top: -6px;
	padding: 5px 10px;

	border: 1px solid #A6A6A6;
	border-radius: 4px;
	background: rgba(#000, .03);
}

.header__item {
	position: relative;
}

.header__text {
	position: relative;
	top: 2px;
	margin-left: 2px;

	color: #333;
	font-size: em(14px);
	font-weight: 300;
}

.header__text--strong {
	font-weight: 400;
}

.main {
	position: relative;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 60px;
	padding-bottom: 25px;

	background: url('../images/background-games.png') #E1E1E1 no-repeat top center;
	border-radius: 5px;
	border-top: 1px solid rgba(#FFF, .5);
	box-shadow: 0 1px 3px rgba(#000, .3);

	overflow: hidden;
}

.featuring {
	margin-bottom: 17px;
}

.featuring__gamesList {
	display: flex;
	justify-content: space-between;
	margin-top: 0;
}

.featuring__item {
	width: 280px;
}

.featuring__wrapper {
	position: relative;
	z-index: 1;
}

.featuring__image {
	position: relative;
	height: 135px;
	margin-top: 20px;

	text-align: center;
	overflow: hidden;
}

.featuring__gameCover--inactive {
	position: relative;
	top: -131px;
}

.featuring__separator {
	position: relative;
	width: 100%;
	height: 1px;

	border: none;
	background-color: #CDCDCD;
}

.featuring__description {
	margin: 10px 0;
	padding: 0 25px;
	text-align: center;
}

.featuring__description--link {
	border-bottom: 1px dotted $base-color;

	&:hover {
		border-bottom: 1px solid $base-color;
	}
}

.featuring__description--strong {
	font-weight: 600;
}

.featuring__message {
	position: relative;

	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	
	&::before {
		content: '';
		display: inline-block;
		position: relative;
		top: 2px;

		width: 14px;
		height: 14px;
		margin-right: 5px;

		background-repeat: no-repeat;
		background-position: center center;
	}
}

.featuring__message--strong {
	font-weight: 600;
}

.featuring__message--check {
	color: $green;

	&::before {
		background-image: url(../images/icon-check.png);
	}
}

.featuring__message--error::before {
	background-image: url(../images/icon-error.png);
}

.main__separator {
	width: 100%;
	height: 1px;

	background: #C1C1C1;
	border-top: rgba(#FFF, .45);
	border-left: #FFF;
}

.payment {
	margin-top: 15px;
	margin-bottom: 20px;
}

.payment__minimum {
	position: relative;
	top: 11px;
	margin-right: 12px;
	font-size: em(14px);
	font-weight: 600;
}

.payment__maximum {
	@extend .payment__minimum;
	margin-right: 0;
	margin-left: 12px;
}

.payment__progressContainer {
	content: "";
	position: absolute;
	z-index: 0;

	width: $trackWidth - 10;
	height: $trackHeight;
	margin-top: -18px;
	margin-left: 1px;

	border-top: 1px solid #809B00;
	border-bottom: 1px solid #5E7F00;
	border-radius: 15px;

	overflow: hidden;
}

.payment__milestonesText {
	position: absolute;
	top: -15px;

	color: #808080;
	font-size: em(10px);
}

.payment__milestonesText--top {
	margin-left: -40px;
}

.payment__milestonesText--average {
	margin-left: -35px;
}

.payment__milestone {
	position: absolute;
	z-index: 1;
	width: 6px;
	height: 6px;
	top: 12px;

	background: rgba(#000, .4);
	border-radius: 50%;
	box-shadow: inset 0 0 1px rgba(#000, .75),
		0 1px 0 rgba(#FFF, .35);

}

.payment__progress {
	content: "";
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;

	// --- Background Colors ---
	box-shadow: inset 0 1px 0 rgba(#E7FF00, .67),
		inset 0 -1px 5px rgba(#FFFFBe, .26),
		inset 0 0 2px rgba(#000, .25);
	background: #adc900; /* Old browsers */
	background: -webkit-linear-gradient(top,  #adc900 0%,#7ca900 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #adc900 0%,#7ca900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc900', endColorstr='#7ca900',GradientType=0 ); /* IE6-9 */
}

.payment__slider {
	position: relative;
	display: inline-block;
	top: 13px;
	width: 780px;
	height: 35px;
	margin-bottom: 4px;
}

@import "./libs/custom-range";

.payment__tooltip {
	position: relative;
	z-index: 1;
	left: 162px;

	width: 222px;
	height: 64px;
	margin-top: 8px;
	margin-left: -60px;
	padding: 10px;

	background: #c2c2c2; /* Old browsers */
	background: -moz-linear-gradient(top,  #c2c2c2 0%, #cfcfcf 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #c2c2c2 0%,#cfcfcf 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #c2c2c2 0%,#cfcfcf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c2c2', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */

	border: 1px solid #B2B2B2;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(#FFF, .75);
}

.payment__amount {
	position: relative;
	top: 5px;

	background: none;
	max-width: 70px;
	border: none;

	color: #698C00;
	font-size: em(25px);
	font-weight: 700;

	outline: none;
	cursor: text;
}

.payment__checkout {
	position: relative;
	float: right;
	top: 2px;
	padding: 10px;

	background: #a6c500; /* Old browsers */
	background: -moz-linear-gradient(top,  #a6c500 0%, #6c9600 96%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a6c500 0%,#6c9600 96%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a6c500 0%,#6c9600 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6c500', endColorstr='#6c9600',GradientType=0 ); /* IE6-9 */

	border: none;
	border-radius: 5px;

	color: #03101A;
	font-size: em(13px);
	font-weight: 600;
	text-shadow: 0 1px 0 rgba(#FFF, .3);

	box-shadow: inset 0 1px 0 rgba(#FFF, .5),
		inset 0 0 0 1px rgba(#FFF, .1),
		0 1px 2px 1px rgba(#000, .6),
		0 0 0 1px rgba(#000, .1);
	outline: none;

	&:hover {
		background: #a6c500; /* Old browsers */
		background: -moz-linear-gradient(top,  lighten(#a6c500, 2%) 0%, lighten(#6c9600, 2%) 96%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  lighten(#a6c500, 2%) 0%,lighten(#6c9600, 2%) 96%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  lighten(#a6c500, 2%) 0%,lighten(#6c9600, 2%) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6c500', endColorstr='#6c9600',GradientType=0 ); /* IE6-9 */
	}
}

.payment__note {
	position: absolute;
	left: 0;
	width: 190px;
	margin-top: 60px;

	color: #808080;
	font-size: em(10px);
	font-weight: 400;

	&::before {
		content: '';
		position: relative;
		display: inline-block;
		top: 2px;
		width: 13px;
		height: 13px;
		margin-right: 5px;

		background: url('../images/icon-info.png') no-repeat center center;
	}
}

.goodiesContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 75px;
}

.goodies {
	max-width: 550px;
}

.goodies__title {
	display: inline-block;
	margin: 0 16px 30px 16px;

	color: #4C4C4C;
	font-size: em(14px);
	font-weight: 300;
	text-align: center;
}

.goodies__sep {
	position: relative;
	display: inline-block;
	width: 112px;
	height: 1px;
	top: 2px;

	border: none;
	background: #BFBFBF;
}

.goodies__list {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.goodies__item {
	max-width: 160px;
	margin-bottom: 50px;
	text-align: center;
}

.goodies__icon {
	width: 24px;
	height: 24px;
	margin: 0 auto 10px auto;

	background: url('../images/icons-goodies.png') no-repeat;
	overflow: hidden;
}

.goodies__icon--soundtrack {
	background-position: 0px 0px;
}

.goodies__icon--stories {
	background-position: -45px 0px;
}

.goodies__icon--journal {
	width: 27px;
	background-position: -90px 0px;
}

.goodies__icon--movie {
	width: 26px;
	background-position: -235px 0px;
}

.goodies__icon--wallpaper {
	width: 29px;
	background-position: -183px 0px;
}

.goodies__icon--more {
	background-position: -138px 0px;
}

.goodies__subtitle {
	margin: 0 0 5px 0;

	color: #666;
	font-size: em(12px);
	font-weight: 600;
}

.goodies__description {
	margin: 0;

	color: #666;
	font-weight: 400;
	font-size: em(12px);
	line-height: 18px;
}

.sold {
	max-width: 335px;
}

.sold__sep {
	@extend .goodies__sep;
	width: 64px;
}

.sold__title {
	@extend .goodies__title;
}

.sold__counter {
	text-align: center;
}

.sold__number {
	position: relative;
	z-index: 1;
	width: 30px;
	height: 40px;
	margin: 0 5px;

	color: #FFF;
	font-family: 'ds-digitalbold';
	font-size: em(40px);
	text-shadow: 0 1px 0 rgba(#000, .35);

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

	&::before {
		content: '8';
		position: absolute;
		z-index: -1;
		width: 30px;
		height: 40px;
		margin-top: -1px;
		margin-left: -5px;

		background: #a6a6a6;
		background: -moz-linear-gradient(top,  #a6a6a6 0%, #bfbfbf 100%);
		background: -webkit-linear-gradient(top,  #a6a6a6 0%,#bfbfbf 100%);
		background: linear-gradient(to bottom,  #a6a6a6 0%,#bfbfbf 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#bfbfbf',GradientType=0 );

		border: 1px solid rgba(#000, .3);
		border-radius: 2px;

		color: rgba(#FFF, .15);
		box-shadow: 0 1px 0 rgba(#FFF, .85);
		text-shadow: none;
	}
}

.sold__subtitle {
	@extend .goodies__subtitle;
	margin-top: 20px;
	text-align: center;
}

.sold__description {
	@extend .goodies__description;
	max-width: 280px;
	text-align: center;
}

.sold__videos {
	position: relative;
	width: 260px;
	height: 145px;
	margin: 15px auto 10px auto;

	border: 7px solid #FFF;
	box-shadow: 0 1px 5px rgba(#000, .45);
}

.sold__milestones {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;

	width: 260px;
	height: 22px;
	margin: 10px auto;

	background-color: #CBCBCB;
	border: 1px solid #A6A6A6;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(#FFF, .35);
}

.sold__item {
	width: 51px;
	height: 100%;

	border-right: 1px solid rgba(#666, .2);
	color: #666;
	font-size: em(10px);
	text-align: center;

	&:last-child {
		border-left: none;
	}
}

.sold__item--active {
	background: #a6a6a6;
	background: -moz-linear-gradient(top,  #a6a6a6 0%, #d9d9d9 100%);
	background: -webkit-linear-gradient(top,  #a6a6a6 0%,#d9d9d9 100%);
	background: linear-gradient(to bottom,  #a6a6a6 0%,#d9d9d9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#d9d9d9',GradientType=0 );

	box-shadow: inset 0 0 5px rgba(#000, .25);

	font-weight: 700;
}

.sold__check {
	position: relative;
	display: none;
	margin-top: 5px;
}

.sold__check--active {
	display: inline-block;
}

.sold__value {
	position: relative;
	top: 3px;
}

.sold__value--inactive {
	display: none;
}





























